.col-sm-4.col-md-3.proto-content
  .thumbnail
    = link_to prototype_path(prototype) do
      = image_tag(prototype.captured_images.main.first.name)
      .caption
        %h3
          = prototype.title
        .proto-meta
          .proto-user
            = link_to user_path(prototype.user) do
              = "by " + prototype.user.name
          .proto-posted
            Apr 26
        %ul.proto-tag-list.list-inline
          %li
            - prototype.tag_list.each do |tag|
              = link_to tag, tag_path(tag), class: "btn btn-default"
          %li
